body{
  margin-top: 100px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, 	#8000ff 0%, #00ffff 100%);
}
h1{
  text-align: center;
}
#container{
  width: 50vw;
  min-height: 70vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border-radius: 4px;

}
#header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
}
#header img{
  width: 100px;;
  height: 100px;
  margin-right: 8px;
  margin-top: 1rem;
  font-family: Copperplate, Papyrus, fantasy;
}
#form-container label{
  font-size: 0.9rem;
}
#category-div{
  display: flex;
  flex-direction: row;

}
.input-box-1{
  background: none;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem 1rem 1rem;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: 	rgb(0, 64, 255);

}
.input-box-1 input{
  border: none;
  height: 2rem;
  outline: none;
}
.input-box-2{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 1rem 1rem;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: rgb(0, 64, 255);
}
.input-box-2 input{
  border: none;
  height: 2rem;
  outline: none;
}
.input-box-2 select{
  border: none;
  height: 2rem;
  outline: none;
}
#button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(0, 64, 255);
  padding: 1.5rem 1rem 1.5rem 1rem;
  

}
#button-div button{
  width: 9rem;
  margin: 0px 5px 0px 5px;
  padding: 15px 10px;
  font-size: 0.8rem;
}
#button-div button i{
  font-size: 1rem;
  margin-right: 7px;
}
#add-task{
  border: none;
  background-color:#721ce3;
  color: white;
  font-weight: 600;
  
}
#delete-task{
  border: none;
  background-color: red;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* For card design*/
.task ul{
  list-style: none;
  padding-left: 0;
}
.task ul li{
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: 	rgb(0, 64, 255);
}
.task-1{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.check-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.check-div input{
  width: 1.2rem;
  height: 1.2rem;
}
.desc-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.8rem;

}
.desc-div span{
  font-size: 0.8rem;
  margin-bottom: 4px;
}
.show-date{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: rgb(0, 64, 255);
  
}
.show-date span{
  font-size: 0.7rem;
}
.show-date i{
  padding-right: 0.7rem;
  font-size: 1rem;
}
.ctg{
  border: none;
  font-size: 0.8rem;
  width: 4rem;
  text-align: center;
  padding: 0.8rem;
  /* background-color: rgb(233, 188, 11); */
}

.yellow{
  background-color: 	rgb(255, 255, 0)
}
.green{
  background-color: rgb(24, 231, 24);
}
.orange{
  background-color: rgb(233, 157, 18);
}
.red{
  background-color: 	rgb(198, 57, 57);
}
.purple{
  background-color: 	rgb(255, 0, 64);
}